body {
    margin: 0;
}

/*          FIXED HEADER
---------------------------------- */

header {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    background-color: #306BAC;
    height: 60px;
}
.content-wrap {
    width: 88%;
    margin: 0 auto;
}
header figure {
    display: inline-block;
    margin: 0;
}
header nav {
    float: right;
    padding: 20px 0px 19px;
}
header nav a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 88.69%;
    color: #FFFFFF;
    text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.25);
}

/*          MAIN PAGE
---------------------------------- */

/*          ANIMATION BLOCK
---------------------------------- */

#bg-darkblue {
    background-color: #2B4162;
    margin-top: 60px;
    overflow: hidden;
    width: 100%;
}
#bg-darkblue #moving {
    animation-duration: 3s;
    animation-name: slidein;
}
#bg-darkblue #moving-name {
    display: block;
    position: relative;
    text-align: center;
    top: 30px;
    width: 405px;
    height: auto;
    margin: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 66px;
    line-height: 88.69%;
    /* or 49px */
    color: #FFFFFF;
}
#bg-darkblue #moving-img {
    display: block;
    position: relative;
    top: 40px;
    height: 526px;
    width: auto;
    margin: auto;
}
@keyframes slidein {
    from {
        transform: translateX(-50em);
    }
    to {
        transform : translateX(0em);
    }
}

/*          ABOUT ME
---------------------------------- */

#bg-darkpurple {
    background-color: #493C73;
    padding: 45px 0px;
    width: 100%;
    overflow: auto;
}
#bg-darkpurple h2 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 88.69%;
    /* identical to box height, or 48px */
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}
#bg-darkpurple #coat-of-arms {
    float: left;
    width: 30%;
}
#bg-darkpurple img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
}
#description-coa {
    max-width: 279px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 88.69%;
    text-align: center;
    /* or 26px */
    color: #FFFFFF;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}
#bg-darkpurple p {
    width: 70%;
    float: right;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 107.69%;
    /* or 39px */
    text-align: center;
    letter-spacing: 0.035em;
    color: #FFFFFF;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
}

/*          WHAT WAS THIS PAGE CREATED FOR?
---------------------------------- */

#bg-lightpurple {
    background-color: #564787;
    overflow: auto;
    width: 100%;
    padding: 45px 0px;
}
#bg-lightpurple h2 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 88.69%;
    /* identical to box height, or 48px */
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}
#bg-lightpurple p {
    width: 55%;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 107.69%;
    /* or 39px */
    text-align: center;
    letter-spacing: 0.035em;
    color: #FFFFFF;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
}
#bg-lightpurple #gif {
    float: right;
    width: 40%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#gif img {
    max-height: 100%;
    max-width: 100%;
}

/*          SKILLS
---------------------------------- */

#bg-skills {
    background-color: #493C73;
    text-align: center;
    overflow: auto;
    width: 100%;
    padding: 45px 0px;
}
#bg-skills h2 {
    margin: 0;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 88.69%;
    /* identical to box height, or 48px */
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}
#bg-skills ul {
    margin: 0;
    padding: 0;
}
#bg-skills li {
    display: inline-block;
    width: 28%;
    padding-right: 50px;
    vertical-align: top;
}
#bg-skills .skill-header {
    margin: 15px 0px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 88.69%;
    /* or 37px */
    text-align: center;
    color: #FFFFFF;
}
#bg-skills .skill-text {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

/*          CONTACTS
---------------------------------- */

#bg-contacts {
    background-color: #564787;
    overflow: auto;
    width: 100%;
    padding: 45px 0px;
}
#bg-contacts h2 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 88.69%;
    /* identical to box height, or 48px */
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}
#bg-contacts p {
    font-family: 'Roboto', sans-serif;
    margin: 30px 0px 20px;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 107.69%;
    /* identical to box height, or 39px */
    text-align: center;
    letter-spacing: 0.035em;
    color: #FFFFFF;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
}
#bg-contacts #telegram {
    text-align: center;
}
#telegram img{
    display: inline-block;
    vertical-align: middle;
}
#telegram a {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 107.69%;
    /* identical to box height, or 39px */
    letter-spacing: 0.035em;
    color: #FFFFFF;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

/*          FOOTER
---------------------------------- */

#bg-footer {
    background-color: #2F274A;
    overflow: auto;
    width: 100%;
    padding: 45px 0px;
}
#bg-footer #logo-footer {
    margin:0;
    display: inline-block;
}
#bg-footer #logo-footer img {
    vertical-align: middle;
}
#bg-footer #bottom-nav {
    margin-left: 115px;
    display: inline;
}
#bg-footer #bottom-nav td {
    width: 200px;
    height: 45px;
}
#bottom-nav a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 88.69%;
    /* or 14px */
    color: #FFFFFF;
}
#bg-footer #telegram-footer {
    float:right;
    text-align: right;
    margin-top: 4px;
}
#bg-footer #telegram-footer img {
    display: inline-block;
    vertical-align: middle;
}
#bg-footer #telegram-footer a {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 107.69%;
    /* or 17px */
    letter-spacing: 0.035em;
    color: #FFFFFF;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
}
#bg-footer #bottom-footer {
    display: inline;
}
#bg-footer #bottom-footer td {
    width: 100px;
    height: auto;
}
#bg-footer #bottom-footer a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 88.69%;
    /* identical to box height, or 11px */
    color: #FFFFFF;
}
#bg-footer #bottom-international {
    margin:0;
    text-align:right;
    margin-top: 80px;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 88.69%;
    /* identical to box height, or 11px */
    color: #FFFFFF;
}
#bg-footer #bottom-last {
    margin:0;
    margin-top: 7px;
    float: right;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 88.69%;
    /* identical to box height, or 11px */
    color: #FFFFFF;
}
@media only screen and (min-width: 768px) {
    #bg-darkpurple p,#bg-lightpurple p {
        font-size: 32px;
    }
}
@media only screen and (min-width: 992px) {
    #bg-darkpurple p,#bg-lightpurple p {
      font-size: 32px;
    }
    #bg-darkpurple #coat-of-arms {
        margin-top: 32px;
    }
}
@media only screen and (min-width: 1200px) {
    #bg-darkpurple p,#bg-lightpurple p{
      font-size: 38px;
    }
    #bg-darkpurple #coat-of-arms {
        margin-top: 38px;
    }
}
@media only screen and (min-width: 1400px) {
    #bg-darkpurple p,#bg-lightpurple p{
      font-size: 42px;
    }
    #bg-darkpurple #coat-of-arms {
        margin-top: 42px;
    }
}